#site { padding: 0px 5px 20px; }
h1 { font-size: 33px; padding: 10px; background: lightgray; text-align: center; }

.main { text-align: center; }
.main a { font-size: 16px; }

body .main.shift { display: none; }
body.shift .main { display: none; }
body.shift .main.shift { display: block; }

.form-control { padding: 6px 10px; }

tr.new a { color: gray; line-height: 2em; }
tr.new a:hover { text-decoration: none; }

tr.new td.name a { display: none; }
tr.new td.name input { display: block; }

tr.new.ready td.name a { display: block; }

tr.new td.name a { display: none; }
tr.new.ready td.name input { display: none; }

tr.new.ready a { color: #428bca; }
tr.new.ready a:hover { text-decoration: underline; }

form.revoke.shift { display: none; }
body.shift form.revoke { display: none; }
body.shift form.revoke.shift { display: block; }

form.revoke .form-group > div { padding-left: 7px; }

@media only screen and (max-width : 320px) {
  tr.cert td.name span { display: none; }
  tr.cert td.sub { display: none; }
  tr.cert td.pub { display: none; }
  tr.cert td.tun { display: none; }
  tr.cert td.tap { display: none; }
  tr.cert td.zip { display: none; }
}
.clear { clear: both; height: 0; }
.footer { text-align: center; }


body.shift tr.new.cert { display: none; }
body.shift table.revoked { display: none; }
body.shift tr.cert td.name a { color: #ffffff; background: #e13350; padding: 0 3px; margin: 0 -3px; }
body.shift tr.cert td.crt  a { color: #dddddd; cursor: not-allowed; text-decoration: none; }
body.shift tr.cert td.key  a { color: #dddddd; cursor: not-allowed; text-decoration: none; }
body.shift tr.cert td.pub  a { color: #e13350; }
body.shift tr.cert td.sub  a { color: #e13350; }
body.shift tr.cert td.p12  a { color: #e13350; }
body.shift tr.cert td.tun  a { color: #e13350; }
body.shift tr.cert td.tap  a { color: #e13350; }
body.shift tr.cert td.zip  a { color: #e13350; }
tr.cert td.deleted a { color: #dddddd !important; cursor: not-allowed; text-decoration: none; }
